
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_login_register_layout.cshtml";
}
<div class="tab_btn_wrap">
    <span class="active" id="tab_phone">手机登录</span>
    <span id="tab_email">邮箱登录</span>
</div>
<span class="line_blue"></span>

<div class="form_wrap">

    <div class="reg_list">
        <!--    手机登录-->
        <div class="form-group" id="form_phone">
            <label for="reg_input_phone">手机号</label>
            <input type="tel" class="form-control" id="reg_input_phone">
        </div>
        <!--    邮箱登录-->
        <div class="form-group form_hidden" id="form_email">
            <label for="reg_input_email">邮箱</label>
            <input type="email" class="form-control" id="reg_input_email">
        </div>
        <div class="form-group">
            <label for="reg_input_password">
                密码
                <span>（请设置包含数字、字母和符号的8~20位密码）</span>
            </label>
            <input type="tel" class="form-control" id="reg_input_password">
        </div>
        <div class="checkbox">
            <i></i>
            <span>我接受</span>
            <a href="#">问卷网服务协议</a>
            <a href="#" class="forget_password">忘记密码?</a>
        </div>
        <button type="submit" class="btn btn-primary btn_register"  onclick="login()">登录</button>
    </div>
</div>

<div class="link_choose">
    <span>第三方登录&nbsp;或</span>
    <a href="#" class="link_register">立即注册</a>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function login() {
        var account;
        var password;
         var x = document.getElementById("tab_phone");
        if (x.className == "active") {
            account = document.getElementById("reg_input_phone").value;
        }
        else {
            account = document.getElementById("reg_input_email").value;
        }
        password = document.getElementById("reg_input_password").value;
        if (account == "" || password == "") {
            return;
        }
        axios.post('../Login/login_info', {
            account: account,
            password: password,
             })
            .then(function (response) {
                console.log(response.data);
                var id = response.data
                if (id != "0") {
                    window.location.href = "../ProjectList/Index?id="+id;
                }

        })
        .catch(function (error) {
          console.log(error);
        });
    }
</script>