
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/base.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/edit_publish_static_project_top_layout.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!--    顶部导航-->
    <div class="edit_header">
        <div class="edit_left">
            <a href="#" class="back_link">
                <img src="~/Images/ic-arrow-back-24px.png" />
            </a>
            <div class="header_edit_title">🍓23号爱心义卖满意度调查问卷</div>
        </div>
        <div class="edit_right">
            <div class="user_wrap">
                <img src="~/Images/132.png" />
                <!--    弹出层-->
                <div class="user_info">
                    <div class="user_name">odd</div>
                    <div class="user-exit">
                        <i class="glyphicon glyphicon-log-out"style="margin-right:10px;"></i>退出登录
                    </div>
                </div>
            </div>
            <a href="#" class="edit_check" >预览</a>
            
        </div>
        <div class="edit_center">
            <a href="#" class="edit_center_title">编辑项目</a>
            <div class="edit_center_icon"></div>
            <a href="#" class="edit_center_title" style="color: #2672ff !important;border-bottom:2px solid #2672ff">发布项目</a>
            <div class="edit_center_icon"></div>
            <a href="#" class="edit_center_title">统计报表</a>
        </div>

        <div class="clearfix"></div>
    </div>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
