
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/dist/bootstrap-table.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Css/base.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="~/Css/manager_layout.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!--    添加页面模态框-->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:600px;top: 200px;">
                <div class="modal-header" style="display:inline-block;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <p class="modal-title" id="myModalLabel" style="font-size:24px;">
                        添加用户页面
                    </p>
                </div>
                <div class="modal-body">
                    <p class="modal_p">
                        <label for="name_add" class="modal_label">用户昵称</label>
                        <input id="name_add" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="password_add" class="modal_label">用户密码</label>
                        <input id="password_add" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="avatar_add" class="modal_label">头像地址</label>
                        <input id="avatar_add" class="form-control" style="display:inline-block;" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="tijiao">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--    编辑页面模态框 最新表-->
    <div class="modal fade" id="change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:600px;top: 200px;">
                <div class="modal-header" style="display:inline-block;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <p class="modal-title" id="myModalLabel" style="font-size:24px;">
                        编辑页面
                    </p>
                </div>
                <div class="modal-body">
                    <p class="modal_p">
                        <label for="id_c" class="modal_label">问&nbsp;卷&nbsp;I&nbsp;D</label>
                        <input id="id_c" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="titile_c" class="modal_label">问卷标题</label>
                        <input id="titile_c" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="state_c" class="modal_label">收集状态</label>
                        <input id="state_c" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="start_time_c" class="modal_label">开始时间</label>
                        <input id="start_time_c" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="update_time_c" class="modal_label">最后时间</label>
                        <input id="update_time_c" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="data_c" class="modal_label">收到数据</label>
                        <input id="data_c" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="recycle_c" class="modal_label">回收状态</label>
                        <input id="recycle_c" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="recycle_time_c" class="modal_label">回收时间</label>
                        <input id="recycle_time_c" class="form-control" style="display:inline-block;" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="change_save">保存修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 编辑页面待发布 -->
    <div class="modal fade" id="change_DFB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:600px;top: 200px;">
                <div class="modal-header" style="display:inline-block;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <p class="modal-title" id="myModalLabel" style="font-size:24px;">
                        编辑页面 待发布
                    </p>
                </div>
                <div class="modal-body">
                    <p class="modal_p">
                        <label for="id_d" class="modal_label">问&nbsp;卷&nbsp;I&nbsp;D</label>
                        <input id="id_d" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="titile_d" class="modal_label">问卷标题</label>
                        <input id="titile_d" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="state_d" class="modal_label">收集状态</label>
                        <input id="state_d" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="start_time_d" class="modal_label">开始时间</label>
                        <input id="start_time_d" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="update_time_d" class="modal_label">最后时间</label>
                        <input id="update_time_d" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="data_d" class="modal_label">收到数据</label>
                        <input id="data_d" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="recycle_d" class="modal_label">回收状态</label>
                        <input id="recycle_d" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="recycle_time_d" class="modal_label">回收时间</label>
                        <input id="recycle_time_d" class="form-control" style="display:inline-block;" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="change_save_DFB">保存修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 编辑页面全部表 -->
    <div class="modal fade" id="change_QBB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:600px;top: 200px;">
                <div class="modal-header" style="display:inline-block;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <p class="modal-title" id="myModalLabel" style="font-size:24px;">
                        编辑页面 全部表
                    </p>
                </div>
                <div class="modal-body">
                    <p class="modal_p">
                        <label for="id_q" class="modal_label">问&nbsp;卷&nbsp;I&nbsp;D</label>
                        <input id="id_q" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="titile_q" class="modal_label">问卷标题</label>
                        <input id="titile_q" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="state_q" class="modal_label">收集状态</label>
                        <input id="state_q" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="start_time_q" class="modal_label">开始时间</label>
                        <input id="start_time_q" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="update_time_q" class="modal_label">最后时间</label>
                        <input id="update_time_q" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="data_q" class="modal_label">收到数据</label>
                        <input id="data_q" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="recycle_q" class="modal_label">回收状态</label>
                        <input id="recycle_q" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="recycle_time_q" class="modal_label">回收时间</label>
                        <input id="recycle_time_q" class="form-control" style="display:inline-block;" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="change_save_QBB">保存修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 编辑页面已发布 -->
    <div class="modal fade" id="change_YFB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:600px;top: 200px;">
                <div class="modal-header" style="display:inline-block;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <p class="modal-title" id="myModalLabel" style="font-size:24px;">
                        编辑页面 已发布
                    </p>
                </div>
                <div class="modal-body">
                    <p class="modal_p">
                        <label for="id_y" class="modal_label">问&nbsp;卷&nbsp;I&nbsp;D</label>
                        <input id="id_y" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="titile_y" class="modal_label">问卷标题</label>
                        <input id="titile_y" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="state_y" class="modal_label">收集状态</label>
                        <input id="state_y" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="start_time_y" class="modal_label">开始时间</label>
                        <input id="start_time_y" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="update_time_y" class="modal_label">最后时间</label>
                        <input id="update_time_y" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="data_y" class="modal_label">收到数据</label>
                        <input id="data_y" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="recycle_y" class="modal_label">回收状态</label>
                        <input id="recycle_y" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="recycle_time_y" class="modal_label">回收时间</label>
                        <input id="recycle_time_y" class="form-control" style="display:inline-block;" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="change_save_YFB">保存修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--    编辑页面模态框 用户管理-->
    <div class="modal fade" id="change_YHG" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:600px;top: 200px;">
                <div class="modal-header" style="display:inline-block;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <p class="modal-title" id="myModalLabel" style="font-size:24px;">
                        编辑页面 用户管理
                    </p>
                </div>
                <div class="modal-body">
                    <p class="modal_p">
                        <label for="id" class="modal_label">用户的ID</label>
                        <input id="id" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="name" class="modal_label">用户昵称</label>
                        <input id="name" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="password" class="modal_label">用户密码</label>
                        <input id="password" class="form-control" style="display:inline-block;" />
                    </p>
                    <p class="modal_p">
                        <label for="avatar" class="modal_label">头像地址</label>
                        <input id="avatar" class="form-control" style="display:inline-block;" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="change_save_YHG">保存修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--    左边导航栏-->
    <nav class="nav_wrap">
        <div class="nav_title">
            <img src="~/Images/logo_blue.png" style="height:70%;margin-top:10px;" />
        </div>
        <div class="nav_item nav_item_active">
            <i class="glyphicon glyphicon-home"></i>
            <span>后台首页</span>
        </div>
        <div class="nav_context">问卷管理</div>
        <div class="nav_item">
            <i class="glyphicon glyphicon-time"></i>
            <span>最新问卷</span>
        </div>
        <div class="nav_item">
            <i class="glyphicon glyphicon-floppy-remove"></i>
            <span>待发布问卷</span>
        </div>
        <div class="nav_item">
            <i class="glyphicon glyphicon-floppy-open"></i>
            <span>已发布问卷</span>
        </div>
        <div class="nav_item">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            <span>全部问卷</span>
        </div>

        <div class="nav_context">系统管理</div>
        <div class="nav_item">
            <i class="glyphicon glyphicon-user"></i>
            <span>用户管理</span>
        </div>
        <div class="nav_item">
            <i class="glyphicon glyphicon-wrench"></i>
            <span>个人信息管理</span>
        </div>
    </nav>

    <!--    头部，留个空好了-->
    <div class="top_wrap">
        <div class="user_wrap">
            <span>管理员：</span><span class="user_name">odd</span>
            <div class="exit">退出</div>
        </div>
    </div>

    <!--    内容-->
    <div class="container_wrap">

        <!--    首页布局-->
        <div class="index_layout layout_item layout_item_active">

            <div class="index_top">
                <div class="index_top_item">
                    <img src="~/Images/v201911-scene-05.png" />
                    <div class="context_wrap">
                        <span class="context_title">问卷总数</span>
                        <span class="context_number">@ViewBag.NaireNum</span>
                    </div>

                </div>
                <div class="index_top_item">
                    <img src="~/Images/v201911-scene-02.png" />
                    <div class="context_wrap">
                        <span class="context_title">用户总数</span>
                        <span class="context_number">@ViewBag.UserNum</span>
                    </div>
                </div>
                <div class="index_top_item">
                    <img src="~/Images/v201911-scene-01.png" />
                    <div class="context_wrap">
                        <span class="context_title">提交总数</span>
                        <span class="context_number">@ViewBag.DataNum</span>
                    </div>
                </div>
                <div class="index_top_item">
                    <img src="~/Images/v201911-scene-06.png" />
                    <div class="context_wrap">
                        <span class="context_title">团队人数</span>
                        <span class="context_number">4</span>
                    </div>
                </div>
            </div>

            <div class="index_left">
                <div class="event_title">最新问卷</div>
                <canvas id="myChart" width="600" height="400"></canvas>
            </div>

            <div class="index_right">
                <!--    天气信息-->
                <div class="date_info">
                    <div class="event_title">天气信息</div>
                    <div id="he-plugin-standard"></div>
                </div>
                <!--    最近事件-->
                <div class="event_info">
                    <div class="event_title">最近事件</div>
                    <ul class="event_list">
                        <li class="event_list_item">
                            <p class="item_context">我的项目布局已完成</p>
                            <p class="item_time">oddii 提交于 2019-12-19 16:28</p>
                        </li>
                        <li class="event_list_item">
                            <p class="item_context">我的信息页静态页面完成</p>
                            <p class="item_time">oddii 提交于 2019-12-19 12:18</p>
                        </li>
                        <li class="event_list_item">
                            <p class="item_context">新增十个控制器与视图</p>
                            <p class="item_time">oddii 提交于 2019-12-19 10:38</p>
                        </li>
                        <li class="event_list_item">
                            <p class="item_context">添加项目文件</p>
                            <p class="item_time">oddii 提交于 2019-12-19 09:55</p>
                        </li>
                        <li class="event_list_item">
                            <p class="item_context">添加 .gitignore 和 .gitattributes。</p>
                            <p class="item_time">oddii 提交于 2019-12-19 09:55</p>
                        </li>
                    </ul>
                </div>
                <!--    版本信息-->
                <div class="version_info">
                    <div class="event_title">版本信息</div>
                    <div class="verison_item">
                        <div class="version_item_img">
                            <img src="~/Images/icon_bootstrap.png" />
                        </div>
                        <div class="version_item_context">
                            <p class="version_item_title">Bootstarp</p>
                            <p class="version_item_number">3.3.7</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr />
                    <div class="verison_item">
                        <div class="version_item_img">
                            <img src="~/Images/icon_jQuery.png" />
                        </div>
                        <div class="version_item_context">
                            <p class="version_item_title">JQuery</p>
                            <p class="version_item_number">3.4.1</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr />
                    <div class="verison_item">
                        <div class="version_item_img">
                            <img src="~/Images/icon_framework.png" />
                        </div>
                        <div class="version_item_context">
                            <p class="version_item_title">.net Framework</p>
                            <p class="version_item_number">4.6.1</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr />
                    <div class="verison_item">
                        <div class="version_item_img">
                            <img src="~/Images/icon_shujuku.png" />
                        </div>
                        <div class="version_item_context">
                            <p class="version_item_title">数据库</p>
                            <p class="version_item_number">sql s</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr />
                    <div class="verison_item">
                        <div class="version_item_img">
                            <img src="~/Images/icon_banbenhao.png" />
                        </div>
                        <div class="version_item_context">
                            <p class="version_item_title">版本号</p>
                            <p class="version_item_number">0.1</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>

        <style>
            #table_naire_new tr:nth-child(even), #table_naire_unpublish tr:nth-child(even)
            #table_naire_published tr:nth-child(even), #table_naire_all tr:nth-child(even)
            #table_user_info tr:nth-child(even) {
                background: #fafafa;
            }

            #table_naire_new th, #table_naire_unpublish th,
            #table_naire_published th, #table_naire_all th,
            #table_user_info th {
                background: #efefef;
            }
        </style>
        <!--    最新问卷-->
        <div class="all_project_layout layout_item">
            <table id="table_naire_new" class="table table-hover table-borderless"></table>
        </div>

        <!--    待发布问卷-->
        <div class="unpublish_layout layout_item">
            <table id="table_naire_unpublish" class="table table-hover table-borderless"></table>
        </div>

        <!--    已发布问卷-->
        <div class="published_layout layout_item">
            <table id="table_naire_published" class="table table-hover table-borderless"></table>
        </div>

        <!--    全部问卷-->
        <div class="query_layout layout_item">
            <table id="table_naire_all" class="table table-hover table-borderless"></table>
        </div>

        <!--    用户管理-->
        <div class="user_manager_layout layout_item">
            <div id="toolbar">
                <button class="btn btn-default" data-toggle="modal" data-target="#add">
                    添加
                </button>
            </div>
            <table id="table_user_info" class="table table-hover table-borderless"></table>
        </div>

        <!--    个人信息管理-->
        <div class="admin_manager_layout layout_item">
            <!--    个人信息修改-->
            <div class="edit_admin_info">

                <!--    账号信息修改-->
                <div class="admin_info">
                    <div class="admin_info_title">
                        账号信息
                        <span id="btn_admin_info_change">修改</span>
                    </div>
                    <div class="admin_info_item" style="margin-top:40px;">
                        <span class="item_name">账号：</span><span>793523185@qq.com</span>
                    </div>
                    <!--    正常状态-->
                    <div class="item_wrap_normal" id="item_wrap_normal">
                        <div class="admin_info_item">
                            <span class="item_name">用户昵称：</span><span>odd</span>
                        </div>
                        <div class="admin_info_item">
                            <span class="item_name">密码：</span><span>123456</span><span class="display">显示密码</span>
                        </div>
                    </div>
                    <!--    编辑状态-->
                    <div class="item_wrap_edit admin_info_hidden" id="item_wrap_edit">
                        <div class="admin_info_item">
                            <span class="item_name">用户昵称：</span><input type="text" class="form-control input_edit" />
                        </div>
                        <div class="admin_info_item">
                            <span class="item_name">密码：</span><input type="password" class="form-control input_edit" />
                        </div>
                        <button type="button" class="btn btn-primary btn_edit_info" id="btn_finish_edit">完成修改</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="https://widget.heweather.net/standard/static/js/he-standard-common.js?v=1.1"></script>
    <script>
        WIDGET = {
            CONFIG: {
                "layout": 1,
                "width": "723",
                "height": "186",
                "background": 5,
                "dataColor": "4A4A4A",
                "aqiColor": "FFFFFF",
                "borderRadius": 5,
                "key": "ba2973bce2d24f76878776a8105a2f9f"
            }
        }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript">
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['00：00', '03：00', '06：00', '9：00', '12：00', '15：00', '18：00', '21：00'],
                datasets: [{
                    label: '24小时内问卷数',
                    backgroundColor: '#e4ecef',
                    borderColor: '#2672ff',
                    data: [0, 10, 5, 2, 20, 10, 25, 13]
                }]
            },

            // Configuration options go here
            options: {}
        });
    </script>


    <script src="~/Content/dist/bootstrap-table.min.js"></script>
    <script src="~/Content/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/Js/manager_layout.js"></script>
    <script>


    </script>
</body>
</html>
