
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/base.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/project_list_layout.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script>
        window.onload=function(){
    alert(document.cookie)
    }
    </script>
</head>
<body>
    <!--    导航栏-->
    <nav class="nav_wrap">
        <div class="nav_container">
            <div class="nav_logo">
                <a href="#">
                    <img src="~/Images/logo_dog.png" />
                </a>
            </div>
            <div class="nav_list_wrap">
                <ul class="nav_list">
                    <li class="nav_list_item active" id="nav_project">我的项目</li>
                    <li class="nav_list_item" id="nav_info">我的信息</li>
                </ul>
                <div class="line_blue"></div>
            </div>
            <div class="nav_user">
                <div class="nav_about">关于我们</div>
                <div class="nav_avatar">
                    <img src="~/Images/132.png" />
                </div>
            </div>
        </div>
    </nav>

    <!--    我的项目-->
    <div class="section_project">

    </div>

    <!--    我的信息-->
    <div class="section_info">
        <div class="info_wrap">

        </div>
    </div>

    <!--    脚部-->
    <footer class="footer_wrap">
        <img src="~/Images/bq_logo.png" />
    </footer>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Js/project_list_layout.js"></script>
</body>
</html>
