
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/base.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/base.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/edit_project_layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/edit_publish_static_project_top_layout.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <style>
    </style>

</head>
<body>
    <!--    顶部导航-->
    <div class="edit_header">
        <div class="edit_left">
            <a href="#" class="back_link">
                <img src="~/Images/ic-arrow-back-24px.png" />
            </a>
            <div class="header_edit_title">🍓23号爱心义卖满意度调查问卷</div>
        </div>
        <div class="edit_right">
            <div class="user_wrap">
                <img src="~/Images/132.png" />
                <!--    弹出层-->
                <div class="user_info">
                    <div class="user_name">odd</div>
                    <div class="user-exit">
                        <i class="glyphicon glyphicon-log-out" style="margin-right:10px;"></i>退出登录
                    </div>
                </div>
            </div>
            <a href="#" class="edit_check">预览</a>

        </div>
        <div class="edit_center">
            <a href="#" class="edit_center_title" style="color: #2672ff !important;border-bottom:2px solid #2672ff">编辑项目</a>
            <div class="edit_center_icon"></div>
            <a href="#" class="edit_center_title">发布项目</a>
            <div class="edit_center_icon"></div>
            <a href="#" class="edit_center_title">统计报表</a>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="main">
        <!--题目-->
        <div class="question_type_wrap">

            <div class="mCustomScrollBox">
                <div style="position:relative; top:0; left:0;" dir="ltr">
                    <!-- 题型 -->
                    <div class="question-type-box">
                        <div class="question_type_dl">
                            <dl class="type_module">
                                <dt>选择题</dt>
                                <dd>
                                    <label class="type_item three_letter_spacing  ui-draggable ui-draggable-handle" question-name="single_select" id="single_selection" onclick="Select_question(this)"><i class="icon_wj icon_type_single icon" id="single_selection_icon_i"></i>单选题</label>
                                    <label class="type_item three_letter_spacing  ui-draggable ui-draggable-handle" question-name="multiple_select" id="multiple_selection" onclick="Select_question(this)"><i class="icon_wj icon_type_multiple"></i>多选题</label>
                                </dd>
                            </dl>
                            <dl class="type_module">
                                <dt>填空题</dt>
                                <dd>
                                    <label class="type_item three_letter_spacing  ui-draggable ui-draggable-handle" question-name="blank" id="blank" onclick="Select_question(this)"><i class="icon_wj icon_type_blank"></i>填空题</label>
                                    <label class="type_item   ui-draggable ui-draggable-handle" question-name="multiple_blank" id="multiple_blank" onclick="Select_question(this)"><i class="icon_wj icon_type_multiple_blank"></i>多项填空</label>
                                </dd>
                            </dl>
                            <dl class="type_module">
                                <dt>个人信息</dt>
                                <dd>
                                    <label class="type_item two_letter_spacing  ui-draggable ui-draggable-handle letter_spacing" question-type="6" disp-type="name" question-name="name" id="name" onclick="Select_question(this)"> <i class="icon_wj icon_type_name"></i>姓名</label>
                                    <label class="type_item two_letter_spacing  ui-draggable ui-draggable-handle letter_spacing" question-type="6" disp-type="mobile" question-name="mobile" id="mobile" onclick="Select_question(this)"> <i class="icon_wj icon_type_mobile"></i>手机</label>
                                    <label class="type_item two_letter_spacing  ui-draggable ui-draggable-handle letter_spacing" question-type="6" disp-type="email" question-name="email" id="email" onclick="Select_question(this)"> <i class="icon_wj icon_type_email"></i>邮箱</label>
                                    <label class="type_item two_letter_spacing  ui-draggable ui-draggable-handle letter_spacing" question-type="2" disp-type="sex" question-name="sex" id="sex" onclick="Select_question(this)"> <i class="icon_wj icon_type_sex"></i>性别</label>
                                    <label class="type_item two_letter_spacing  ui-draggable ui-draggable-handle letter_spacing" question-type="95" disp-type="date" question-name="date" id="date" onclick="Select_question(this)"> <i class="icon_wj icon_type_date"></i>生日</label>
                                    <label class="type_item two_letter_spacing  ui-draggable ui-draggable-handle letter_spacing" question-type="95" disp-type="time" question-name="time" id="time" onclick="Select_question(this)"> <i class="icon_wj icon_type_time"></i>时间</label>
                                    <label class="type_item two_letter_spacing  ui-draggable ui-draggable-handle letter_spacing" question-type="2" disp-type="age" question-name="age" id="age" onclick="Select_question(this)"> <i class="icon_wj icon_type_age"></i>年龄</label>
                                    <label class="type_item two_letter_spacing  ui-draggable ui-draggable-handle letter_spacing" question-type="2" disp-type="education" question-name="education" id="education" onclick="Select_question(this)"> <i class="icon_wj icon_type_education"></i>学历</label>
                                    <label class="type_item two_letter_spacing  ui-draggable ui-draggable-handle letter_spacing" question-type="8" disp-type="major" question-name="major" id="major" onclick="Select_question(this)"> <i class="icon_wj icon_type_major"></i>专业</label>
                                    <label class="type_item two_letter_spacing  ui-draggable ui-draggable-handle letter_spacing" question-type="2" disp-type="occupation" question-name="occupation" id="occupation" onclick="Select_question(this)"> <i class="icon_wj icon_type_occupation"></i>职业</label>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="survey_main_wrap">
            <div class="survey_main">
                <!--标题栏-->
                <div class="survey_prefix_wrap">
                    <!--问卷标题-->
                    <div class="survey_title">
                        <div class="content_editable">
                            <div class="title_content" edit-type="project" contenteditable="true" has-value="true" tabindex="0">
                                <p style="text-align: left;" id="input_title">问卷标题</p>
                            </div>
                        </div>
                    </div>
                    <div class="survey_prefix">
                        <div class="content_editable">
                            <div class="prefix_content" edit-type="begin_desc" contenteditable="true" tabindex="0" placeholder="点击编辑欢迎语" id="input_hint">
                                感谢您能抽出几分钟时间来参加本次答题，现在我们就马上开始吧！
                            </div>
                        </div>
                    </div>
                </div>


                <!--详细问题-->
                <div class="survey_question_wrap">
                    <!--问题框-->
                    <div id="question_box">
                        <!--单选框-->
                        <div style="display:none;" class="question_item single_select" data-type="Radio" data-item="question">
                            <div class="float_div">
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">

                                    <!--标题框-->
                                    <div class="question_title_wrap">
                                        <!--问题序号-->
                                        <div class="question_order">1</div>
                                        <div class="content_editable">
                                            <div class="question_title " contenteditable="true" data-item-title="title">请选择一个选项</div>
                                        </div>
                                    </div>

                                    <!--选项-->
                                    <div class="question_option_list" id="question_list">
                                        <ul class="quesrion_option_ul" id="question_item">
                                            <li class="option_item">
                                                <img src="~/Images/single_seletion.png" />
                                                <div contenteditable="true" data-question-item="Radio">选项1</div>
                                            </li>
                                            <li class="option_item">
                                                <img src="~/Images/single_seletion.png" />
                                                <div contenteditable="true" data-question-item="Radio">选项2</div>
                                            </li>
                                        </ul>
                                    </div>

                                    <!--选择操作-->
                                    <div class="question_opeion_operate" id="question_operate">
                                        <!--增加选项-->
                                        <div class="operate_add" onclick="Add_Item(this)">
                                            <i class="add_icon glyphicon glyphicon-plus"></i>
                                            添加单个选项
                                        </div>
                                        <!--删除选项-->
                                        <div class="operate_delete" onclick="Delect_Itrm(this)">
                                            <i class="delete_icon glyphicon glyphicon-remove"></i>
                                            删除最后选项
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--多选-->
                        <div class="question_item multiple_select" style="display:none;" data-type="Checkbox" data-item="question">
                            <div class="float_div">
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">
                                    <!--标题框-->
                                    <div class="question_title_wrap">
                                        <!--问题序号-->
                                        <div class="question_order">2</div>
                                        <div class="content_editable">
                                            <div class="question_title " contenteditable="true" data-item-title="title">请选择以下选项 (多选)</div>
                                        </div>
                                    </div>
                                    <!--选项-->
                                    <div class="question_option_list">
                                        <ul class="quesrion_option_ul">
                                            <li class="option_item">
                                                <img src="~/Images/multiple_selecte.png" />
                                                <div id="select_1" contenteditable="true" data-question-item="Checkbox">选项1</div>
                                            </li>
                                            <li class="option_item">
                                                <img src="~/Images/multiple_selecte.png" />
                                                <div id="select_2" contenteditable="true" data-question-item="Checkbox">选项2</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--选择操作-->
                                    <div class="question_opeion_operate">
                                        <!--增加选项-->
                                        <div class="operate_add" onclick="Add_Item(this)">
                                            <i class="add_icon glyphicon glyphicon-plus"></i>
                                            添加单个选项
                                        </div>
                                        <!--删除选项-->
                                        <div class="operate_delete" onclick="Delect_Itrm(this)">
                                            <i class="delete_icon glyphicon glyphicon-remove"></i>
                                            删除最后选项
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="question_item blank_select" style="display:none;" data-type="Input" data-item="question">
                            <div class="float_div">
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">
                                    <!--标题框-->
                                    <div class="question_title_wrap">
                                        <!--问题序号-->
                                        <div class="question_order">3</div>
                                        <div class="content_editable">
                                            <div class="question_title " contenteditable="true" data-item-title="title">请填写本项内容</div>
                                        </div>
                                    </div>
                                    <!--选项-->
                                    <div class="question_option_list">
                                        <ul class="quesrion_option_ul">
                                            <li class="input_blank">
                                                <input type="text" readonly="readonly"  />
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--    多填最后处理-->
                        <div class="question_item multiple_blank_select" style="display:none" data-type="Multiple" data-item="question">
                            <div class="float_div">
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">
                                    <!--标题框-->
                                    <div class="question_title_wrap">
                                        <!--问题序号-->
                                        <div class="question_order">4</div>
                                        <div class="content_editable">
                                            <div class="question_title " contenteditable="true">请填写以下内容</div>
                                        </div>
                                    </div>
                                    <!--选项-->
                                    <div class="question_option_list" id="question_list">
                                        <ul class="quesrion_option_ul" id="question_item">
                                            <li class="option_item">
                                                <div id="select_1" contenteditable="true" style="margin-left:0">填空1</div>
                                            </li>
                                            <li class="input_blank">
                                                <input type="text" readonly="readonly" data-question-item="duotiankong" />
                                            </li>
                                            <li class="option_item">
                                                <div id="select_2" contenteditable="true" style="margin-left:0">填空2</div>
                                            </li>
                                            <li class="input_blank">
                                                <input type="text" readonly="readonly" data-question-item="duotiankong" />
                                            </li>
                                        </ul>
                                    </div>
                                    <!--选择操作-->
                                    <div class="question_opeion_operate">
                                        <!--增加选项-->
                                        <div class="operate_add" onclick="Add_Item(this)">
                                            <i class="add_icon glyphicon glyphicon-plus"></i>
                                            添加单个选项
                                        </div>
                                        <!--删除选项-->
                                        <div class="operate_delete" onclick="Delete_select(this)">
                                            <i class="delete_icon glyphicon glyphicon-remove"></i>
                                            删除最后选项
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="question_item name_select" style="display:none" data-type="Input" data-item="question">
                            <div class="float_div">
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">
                                    <!--标题框-->
                                    <div class="question_title_wrap" style="position:relative;">
                                        <!--问题序号-->
                                        <div class="question_order">5</div>
                                        <div class="content_editable">
                                            <div class="" tabindex="0" data-item-title="title">姓名</div>
                                        </div>
                                    </div>
                                    <!--选项-->
                                    <div class="question_option_list">
                                        <ul class="quesrion_option_ul">
                                            <li class="input_blank">
                                                <input type="text" readonly="readonly" />
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="question_item mobile_select" style="display:none" data-type="Input" data-item="question">
                            <div class="float_div">
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">
                                    <!--标题框-->
                                    <div class="question_title_wrap">
                                        <!--问题序号-->
                                        <div class="question_order">6</div>
                                        <div class="content_editable">
                                            <div data-item-title="title">手机</div>
                                        </div>
                                    </div>
                                    <!--选项-->
                                    <div class="question_option_list">
                                        <ul class="quesrion_option_ul">
                                            <li class="input_blank">
                                                <input type="text" readonly="readonly" />
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="question_item email_select" style="display:none" data-type="Input" data-item="question">
                            <div class="float_div">
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">
                                    <!--标题框-->
                                    <div class="question_title_wrap">
                                        <!--问题序号-->
                                        <div class="question_order">7</div>
                                        <div class="content_editable">
                                            <div data-item-title="title">邮箱</div>
                                        </div>
                                    </div>
                                    <!--选项-->
                                    <div class="question_option_list">
                                        <ul class="quesrion_option_ul" style="width:400px;margin-left:80px;">
                                            <li class="input_blank" style="margin-top:5px">
                                                <input type="text" readonly="readonly" />
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="question_item sex_select" style="display:none" data-type="Radio" data-item="question">
                            <div class="float_div">
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">
                                    <!--标题框-->
                                    <div class="question_title_wrap">
                                        <!--问题序号-->
                                        <div class="question_order">8</div>
                                        <div class="content_editable">
                                            <div data-item-title="title">性别</div>
                                        </div>
                                    </div>
                                    <!--选项-->
                                    <!--选项-->
                                    <div class="question_option_list" id="question_list">
                                        <ul class="quesrion_option_ul" id="question_item">
                                            <li class="option_item">
                                                <img src="~/Images/single_seletion.png" />
                                                <div contenteditable="true" data-question-item="Radio">男</div>
                                            </li>
                                            <li class="option_item">
                                                <img src="~/Images/single_seletion.png" />
                                                <div contenteditable="true" data-question-item="Radio">女</div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="question_item date_select" style="display:none" data-type="Input" data-item="question">
                            <div class="float_div">
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">
                                    <!--标题框-->
                                    <div class="question_title_wrap">
                                        <!--问题序号-->
                                        <div class="question_order">9</div>
                                        <div class="content_editable">
                                            <div data-item-title="title">生日</div>
                                        </div>
                                    </div>
                                    <!--选项-->
                                    <div class="question_option_list">
                                        <ul class="quesrion_option_ul">
                                            <li class="input_blank">
                                                <input type="text" readonly="readonly" />
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="question_item time_select" style="display:none" data-type="Input" data-item="question">
                            <div class="float_div">
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">
                                    <!--标题框-->
                                    <div class="question_title_wrap">
                                        <!--问题序号-->
                                        <div class="question_order">10</div>
                                        <div class="content_editable">
                                            <div data-item-title="title">时间</div>
                                        </div>
                                    </div>
                                    <!--选项-->
                                    <div class="question_option_list">
                                        <ul class="quesrion_option_ul">
                                            <li class="input_blank">
                                                <input type="text" readonly="readonly" />
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="question_item age_select" style="display:none" data-type="Input" data-item="question">
                            <div class="float_div">
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">
                                    <!--标题框-->
                                    <div class="question_title_wrap">
                                        <!--问题序号-->
                                        <div class="question_order">11</div>
                                        <div class="content_editable">
                                            <div data-item-title="title">年龄</div>
                                        </div>
                                    </div>
                                    <!--选项-->
                                    <div class="question_option_list">
                                        <ul class="quesrion_option_ul">
                                            <li class="input_blank">
                                                <input type="text" readonly="readonly" />
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="question_item education_select" style="display:none" data-type="Radio" data-item="question">
                            <div class="float_div">
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">
                                    <!--标题框-->
                                    <div class="question_title_wrap">
                                        <!--问题序号-->
                                        <div class="question_order">12</div>
                                        <div class="content_editable">
                                            <div data-item-title="title">您的最高学历（含目前在读）是？</div>
                                        </div>
                                    </div>
                                    <!--选项-->
                                    <div class="question_option_list">
                                        <ul class="quesrion_option_ul">
                                            <li class="option_item" data-question-item="Radio">
                                                <img src="~/Images/single_seletion.png" />
                                                <div>小学及以下</div>
                                            </li>
                                            <li class="option_item" data-question-item="Radio">
                                                <img src="~/Images/single_seletion.png" />
                                                <div>初中</div>
                                            </li>
                                            <li class="option_item" data-question-item="Radio">
                                                <img src="~/Images/single_seletion.png" />
                                                <div>高中/中专/技校</div>
                                            </li>
                                            <li class="option_item" data-question-item="Radio">
                                                <img src="~/Images/single_seletion.png" />
                                                <div>大学专科</div>
                                            </li>
                                            <li class="option_item" data-question-item="Radio">
                                                <img src="~/Images/single_seletion.png" />
                                                <div>大学本科</div>
                                            </li>
                                            <li class="option_item" data-question-item="Radio">
                                                <img src="~/Images/single_seletion.png" />
                                                <div>硕士研究生及以上</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--选择操作-->
                                    <div class="question_opeion_operate">
                                        <!--增加选项-->
                                        <div class="operate_add" onclick="Add_Item(this)">
                                            <i class="add_icon glyphicon glyphicon-plus"></i>
                                            添加单个选项
                                        </div>
                                        <!--删除选项-->
                                        <div class="operate_delete" onclick="Delete_select(this)">
                                            <i class="delete_icon glyphicon glyphicon-remove"></i>
                                            删除最后选项
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="question_item major_select" style="display:none" data-type="Input" data-item="question">
                            <div class="float_div">              
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">
                                    <!--标题框-->
                                    <div class="question_title_wrap">
                                        <!--问题序号-->
                                        <div class="question_order">11</div>
                                        <div class="content_editable">
                                            <div data-item-title="title">您大学所学专业是？</div>
                                        </div>
                                    </div>
                                    <!--选项-->
                                    <div class="question_option_list">
                                        <ul class="quesrion_option_ul">
                                            <li class="input_blank">
                                                <input type="text" readonly="readonly"  />
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="question_item occupation_select" style="display:none" data-type="Radio" data-item="question">
                            <div class="float_div">
                                <!--删除-->
                                <div class="delete_select" onclick="Delete_select(this)"></div>
                            </div>
                            <div class="question_content_wrap">
                                <div class="question_content">
                                    <!--标题框-->
                                    <div class="question_title_wrap">
                                        <!--问题序号-->
                                        <div class="question_order">14</div>
                                        <div class="content_editable">
                                            <div data-item-title="title">您目前的职业是？</div>
                                        </div>
                                    </div>
                                    <!--选项-->
                                    <div class="question_option_list">
                                        <ul class="quesrion_option_ul" style="width:400px;margin-left:80px;">
                                            <li class="option_item" style="margin-top:5px">
                                                <img src="~/Images/single_seletion.png" style="margin-top:6px;float:left" />
                                                <div id="select_1" style="margin-left:30px;line-height:30px" data-question-item="Radio">在校学生</div>
                                            </li>
                                            <li class="option_item" style="margin-top:5px">
                                                <img src="~/Images/single_seletion.png" style="margin-top:6px;float:left" />
                                                <div id="select_2" style="margin-left:30px;line-height:30px" data-question-item="Radio">政府/机关干部/公务员</div>
                                            </li>
                                            <li class="option_item" style="margin-top:5px">
                                                <img src="~/Images/single_seletion.png" style="margin-top:6px;float:left" />
                                                <div id="select_3" style="margin-left:30px;line-height:30px" data-question-item="Radio">企业管理者（包括基层及中高层管理者）</div>
                                            </li>
                                            <li class="option_item" style="margin-top:5px">
                                                <img src="~/Images/single_seletion.png" style="margin-top:6px;float:left" />
                                                <div id="select_4" style="margin-left:30px;line-height:30px" data-question-item="Radio">普通职员（办公室/写字楼工作人员）</div>
                                            </li>
                                            <li class="option_item" style="margin-top:5px">
                                                <img src="~/Images/single_seletion.png" style="margin-top:6px;float:left" />
                                                <div id="select_5" style="margin-left:30px;line-height:30px" data-question-item="Radio">专业人员（如医生/律师/文体/记者/老师等）</div>
                                            </li>
                                            <li class="option_item" style="margin-top:5px">
                                                <img src="~/Images/single_seletion.png" style="margin-top:6px;float:left" />
                                                <div id="select_6" style="margin-left:30px;line-height:30px" data-question-item="Radio">普通工人（如工厂工人/体力劳动者等）</div>
                                            </li>
                                            <li class="option_item" style="margin-top:5px">
                                                <img src="~/Images/single_seletion.png" style="margin-top:6px;float:left" />
                                                <div id="select_7" style="margin-left:30px;line-height:30px" data-question-item="Radio">商业服务业职工（如销售人员/商店职员/服务员等）</div>
                                            </li>
                                            <li class="option_item" style="margin-top:5px">
                                                <img src="~/Images/single_seletion.png" style="margin-top:6px;float:left" />
                                                <div id="select_8" style="margin-left:30px;line-height:30px" data-question-item="Radio">个体经营者/承包商</div>
                                            </li>
                                            <li class="option_item" style="margin-top:5px">
                                                <img src="~/Images/single_seletion.png" style="margin-top:6px;float:left" />
                                                <div id="select_9" style="margin-left:30px;line-height:30px" data-question-item="Radio">自由职业者</div>
                                            </li>
                                            <li class="option_item" style="margin-top:5px">
                                                <img src="~/Images/single_seletion.png" style="margin-top:6px;float:left" />
                                                <div id="select_10" style="margin-left:30px;line-height:30px" data-question-item="Radio">退休</div>
                                            </li>
                                            <li class="option_item" style="margin-top:5px">
                                                <img src="~/Images/single_seletion.png" style="margin-top:6px;float:left" />
                                                <div id="select_11" style="margin-left:30px;line-height:30px" data-question-item="Radio">暂无职业</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--选择操作-->
                                    <div class="question_opeion_operate">
                                        <!--增加选项-->
                                        <div class="operate_add" onclick="Add_Item(this)">
                                            <i class="add_icon glyphicon glyphicon-plus"></i>
                                            添加单个选项
                                        </div>
                                        <!--删除选项-->
                                        <div class="operate_delete" onclick="Delect_Itrm(this)">
                                            <i class="delete_icon glyphicon glyphicon-remove"></i>
                                            删除最后选项
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                    <!--发布-->
                    <div class="survey_suffix_wrap">
                        <div class="release_share_box">
                            <button class="release_share_btn" id="btn_submit">发布并分享</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Js/edit_project_layout.js"></script>
    <script src="~/Js/create_project.js"></script>

</body>
</html>
